@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crushed&display=swap');

#navbar-container{
    position: fixed;
    top:0;
    height: 55px;
    width: 100vw;
    z-index: 2;
    background: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span{
        font-family: 'Crushed', cursive;
        font-size: 1.3em;
        text-transform: uppercase;
        margin: 0.1em
    }
    #nombre{
        font-weight: 800;
        color: #303841

    }

    #apellido{
        font-weight: 200;
        color: #3a4750;
    }

    button{
        display: none;
        background: transparent;
        z-index: 3;
        border: none;
        cursor: pointer;
        svg{
            height: 1.2em;
            width: 1.2em;
            fill: #303841;
        }
        svg:hover{
            fill: #3a4750;
        }
    }
}

.option{
    display: flex;
    align-items: center;
    list-style-type: none;
    
    li{
        margin: 1em;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Baloo Tamma 2', cursive;
        cursor: pointer;
        color: #303841;
    }
    li:hover{
        color: #d72323;
    }
}

.dropDown{
    position: fixed;
    top: 55px;
    width: 100vw;
    background: white;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: stretch;

    .option{
        flex-direction: column;
        height: 100%;
        li{
            width: 100%;
            padding: 0.2em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1
        }
        li:hover{
            background: #ccc;
        }
    }
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 556px){
    #navbar-container{
        ul{
        display: none;
        }
        button{
            display: flex;
        }
    }
    .dropDown{
        display: flex;
    }
}

@media only screen 
and (min-device-height: 320px) 
and (max-device-height: 556px){
    #navbar-container{
        ul{
        display:none
        }
        button{
            display: flex;
        }
    }
    .dropDown{
        display: flex;
    }
}