@import '../../vars.scss';

.work--card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    max-width: 90%;
    margin: $space-3;

    .laptop--wrap{
        width: 100%;
        position: relative;

        .laptop{
            width: 100%;
        }
        .img--wrap{
            position: absolute;
            width: 67.7%;
            height: 81.2%;
            top: 7.1%;
            left: 17.5%;
            overflow: hidden;
        }
        .img--content{
            width: 100%;
        }
    }

    button{
        margin-top: $space-3;
        width: 12em;
    }
}