@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap');

#hi-container{
    min-width: 100%;
    padding: 2em 0;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .text-container{
        max-width: 30em;
        position: relative;
        height: auto;
        padding: 1em;
        h1{
            font-family: 'Raleway', sans-serif;
            font-weight:  500;
            text-transform: uppercase;
            color: #303841;
        }
        h2{
                font-family: 'Raleway', sans-serif;
                font-size: 1.3em;
                color: #3a4750;
        }
        hr{
            border-top: 0.1em solid #d72323;
        }

        p {
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            margin: 1em;
            font-size: .8em;
            text-align: center;
        }
        div{
            display: flex;
            margin: 0.2em;
            justify-content: center;
            align-items: center;
            
            .link-contact{
                margin: 0 .5em;
                border: none;
                background: transparent;
                cursor: pointer;
                svg{
                    height: 2em;
                    width: 2em;
                }

                svg:hover{
                    fill: #d72323;
                }
            }

          
        }
    }
    .get-cv{
        background: #d72323;
        color: #eee;
        padding: 1em 2em;
        text-transform: uppercase;
        margin: 1em;
        font-family: 'Baloo Tamma 2', cursive;
        font-size: 1em;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        border: 2px solid #eee;
        transition: .5s;
    }

    .get-cv:hover{
        background: #eee;
        color: #303841;
        border: 2px solid #d72323;
    }

    .button-scroll{
        position: absolute;
        bottom: 2em;
        cursor: pointer;
        
        button{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: transparent;
            border: none;
        }
        span{
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 0.6;
            text-transform: uppercase;
        }
        svg{
            height: 3em;
            width: 3em;
            padding: 0.3em;
            animation: scroll 1.5s infinite;
            transition: 0.5s;
        }

        svg:hover{
            background: #d72323;
            fill: #eee;
            border-radius: 50%;
            animation: none;
        }
        @keyframes scroll {
            0%{
                transform:translate(0, 0);
                opacity: 0;
            }
            50%{
                opacity: 1;
            }
            100%{
                transform: translate(0,1em);
                opacity: 0;
            }
            
        }
    }
}

@media only screen 
and (min-device-height: 320px) 
and (max-device-height: 556px){
    .button-scroll{
        display: none;
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 556px){
    .button-scroll{
        display: none;
    }
}
