@import '../../vars.scss';

#work{
    .works-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: $space-3 0;
    }
    .git-enlace{
        align-self: center;
        display: flex;
        align-items: center;
        
        svg{
            margin: 0 $space-5;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 556px), 
screen and (min-device-height: 320px) and (max-device-height: 556px) {
    .header-work{
        padding: $space-3 $space-3 0 $space-3;
    }
    .git-enlace{
        margin-bottom: $space-3;
    }
}