@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import '../vars.scss';

*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

h1{
    font-size: $font-size-l;
}

h1 p {
    color: $color-font;
}

h2{
    color: $color-subtitle;
    font-size: $font-size-ml;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient( $color-primary, $color-secondary);
}

svg{
    width: $icon-size;
    height: $icon-size;
    fill: $color-font;
}

a:hover{
    opacity: .8;
}


#app {
    margin: auto;
    padding: $space-1 0;
    width: 80%;
    min-height: calc( 100vh - $space-1 - $space-1 );
}

.flex-column{
    flex-direction: column;
}

button{
    border: none;
    color: $color-wrap;
    background-color: $color-primary;
    padding: .6em  0;
    font-weight: 800;
    font-size: $font-size-m;
    width: 15em;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 556px), 
screen and (min-device-height: 320px) and (max-device-height: 556px) {
    #app{
        width: 100%;
        padding: 0;
        padding-top: $space-3;
    }
}