@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#footer-container{
    background: #eee;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        font-family: 'Baloo Tamma 2', cursive;
        color: #303841;
        font-size: 2em;
    }
    svg{
        height: 1.2em;
        width: 1.2em;
        padding: 0 0.3em;
        fill: #3a4750;
    }
    a{
        color: #3a4750;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        text-decoration: none;
    }
}