

//colors

$color-primary:         #13547A;
$color-secondary:       #80D0C7;
$color-font:            #303841;
$color-subtitle:        #707070;
$color-wrap:            #ffffff;


//size
$font-size-s:               0.68em;
$font-size:                 1em;
$font-size-m:               1.3em;
$font-size-ml:              1.6em;
$font-size-btn-s:           0.87em;
$font-size-l:               2em;
$icon-size:                 2.5em;
//space
$space-1: 4em;
$space-2: 3em;
$space-3: 1em;
$space-4: 1.25em;
$space-5: 0.5em;